.contact-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, auto)); /* 4 columns by default */
    gap: var(--contact-gap);
    vertical-align: center;
    align-items: center;
    /* Fill available vertical space provided by .main-content */
    flex: 1;
    min-height: 0; /* prevents flex overflow issues */

    /* optional: ensure inner padding doesn’t cause overflow */
    box-sizing: border-box;

}

@media screen and (max-width: 1400px) {
    .contact-container{
        grid-template-columns: repeat(2, minmax(400px, 1fr));
    }
}