.img-gallery-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box; /* include padding in the width */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.photography-img{
    max-width: 100%; /* Ensures the image doesn't exceed the column's width */
    border-radius: 3px;
    transition:transform 0.1s ease;
    object-fit: cover;
    margin-bottom: 8px;
}

.photography-img:hover{
    transform:scale(1.01);
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .img-gallery-column {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .img-gallery-column {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

#lightbox {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border:5px solid #fff;
}
