.project-img{
    width: 100%;
    aspect-ratio: 2.37/1;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 12.5px;
    border: 0 solid #e0e0e0;
    transition: border 0.2s ease-in-out, transform 0.2s ease-in-out;
    position: relative;
}
.project-img:hover{
    transform:scale(1.02);
    cursor: pointer;
}
/*.project-img:hover{
    width: 100%;
    aspect-ratio: 2.37/1;
    display: block;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    cursor: pointer;
    border: 3px solid #6c3ef2;
}*/