body{
    color: #121212;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.nameblock{
    line-height: 1.0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 57px;
    letter-spacing: -0.02em;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
}

.nameblock-subtext{
    line-height: 1.5;
    margin-top: 0;
    font-size: 20.5px;
    letter-spacing: 0.022em;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}

h1{
    font-size: 135px;
    font-weight: 850;
    line-height: 0.8;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

h2{
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
}

h3{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;
}
.project-title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #ffffff;
}

.about-text{
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 0;
}

footer{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: underline;
}

.contact-text{
    font-size: 35px;
    font-weight: 600;
    margin-top: 0;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: font-size 0.25s ease, color 0.25s ease;
}

.contact-text:hover{
    color: var(--active-color);
    font-size: 38px;
}

.resume-download{
    color: var(--active-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0;
    text-decoration: None;
    transition: font-size 0.25s ease, color 0.25s ease;
}

.resume-download:hover{
    font-size: 20.5px;
}

/* RULES */

@media screen and (max-width: 1425px) {
    h1 {
        font-size: 57px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 60px;
    }
}